@model Sayts.Models.Rectifier

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rectifier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sites.SiteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sites.SiteFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Units.BrandModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Units.BrandModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitStatus.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDelivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInstalled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInstalled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCPPType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCPPType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RMActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RMActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RMDefective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RMDefective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatteryCurr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatteryCurr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RectifierCurr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RectifierCurr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCLoading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCLoading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeBackUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBackUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Inventory List", "GetDetails", "Inventories", new { id = Model.SiteID }, null)
        </div>
    }
</div>
