@model Sayts.Models.Other

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Other</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sites.SiteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sites.SiteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATSSerial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATSSerial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATSType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATSType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATSStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATSStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDelivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInstalled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInstalled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasCrankModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCrankModule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasBatCharger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasBatCharger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATSRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATSRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVSSerial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVSSerial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVSSType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVSSType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVSSStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVSSStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVSSRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVSSRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EFStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EFRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FenceRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FenceRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BBStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BBStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TGStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TGStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Inventory List", "GetDetails", "Inventories", new { id = Model.SiteID }, null)
        </div>
    }
</div>
